
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text {
    color: #D1CDC7; 
} 

 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(209, 205, 199, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(209,205,205);
  } 
.jumbotron {
    background-color:#181A1B;
    font-family: Arial, Helvetica, sans-serif;
    color: #181A1B;
    background: url(../images/hurricaneIsabel.jpg) fixed center no-repeat;
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 15%;
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

body {background-color:#181A1B;}
h2 {font-family: Arial, Helvetica, sans-serif;
    color: #D1CDC7;
}
h3 {font-family: Arial, Helvetica, sans-serif;
    color: #D1CDC7;
}
p {font-family: Arial, Helvetica, sans-serif;
    color: #D1CDC7;
}

a {
    color: #D1CDC7;  
}

/* For HighCharts Areaspline on the hurricanes.html page */
@import "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
#windrace {
    height: 600px;
    min-width: 310px;
    max-width: 1800px;
    margin: 0 auto;
    background-color: black ;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
#play-controls {
    text-align: center;
    width: 100%;
    padding: 5px 0 1em 0;
}
#play-controls * {
    display: inline-block; 
    vertical-align: middle;
}
#play-pause-button {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}
#play-range {
    margin: 2.5%;
    width: 80%;
}
#play-output {
    font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}