nav{
    background-color: #181A1B; 
    color: #D1CDC7;
 }
.jumbotron {
    background-color:#181A1B;
    font-family: Arial, Helvetica, sans-serif;
    color: #D1CDC7;
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

body {background-color:#181A1B;}
h2 {font-family: Arial, Helvetica, sans-serif;
    color: #D1CDC7;
}
h3 {font-family: Arial, Helvetica, sans-serif;
    color: #D1CDC7;
}
p {font-family: Arial, Helvetica, sans-serif;
    color: #D1CDC7;
}

